{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL | sanitizeurl }}
<article class="p-article">
  <header>
    <h1>{{ .Title }}</h1>
    <!-- <div>
      <div class="c-time">
        Posted on
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          {{ .Date.Format "Jan 2, 2006" }}
        </time>
      </div>
      {{ range .Params.tags }}
      <a href="{{ $baseurl }}/tags/{{ . | urlize }}" class="c-tag">{{ . }}</a>
      {{ end }}
    </div> -->
  </header>
  {{ with .Params.thumbnail }}
    <img src="{{ . }}" alt="thumbnail" class="p-article__thumbnail">
  {{ end }}
  <section id="js-article" class="p-article__body">
    {{ range (.Site.RegularPages.GroupByDate "2006") }}
    <h3>{{ .Key }}</h3>
    <ul class="archive-list">
        {{ range (where .Pages "Type" "posts") }}
        <li>
            {{ .PublishDate.Format "2006-01-02" }}
            ->
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>

        
{{ end }}
